ul.cms-wizard-navigation {
    list-style-type: none;
    background-color: #ccc;
    padding:  1px;
}

ul.cms-wizard-navigation li {
    float: left;
    padding-right: 14px;
    margin: 0;
}

ul.cms-wizard-navigation li {
    background: TRANSPARENT url(../images/arrow.png) no-repeat top right;
}

ul.cms-wizard-navigation li.active {
    background: TRANSPARENT url(../images/arrow-active.png) no-repeat top right;
}

ul.cms-wizard-navigation li.previous {
    background: TRANSPARENT url(../images/arrow-previous.png) no-repeat top right;
}

ul.cms-wizard-navigation li.last {
    background: TRANSPARENT url(../images/arrow-last.png) no-repeat top right;
}

ul.cms-wizard-navigation li a {
    display: block;
    padding: 8px 15px 8px 15px;
    margin-right: 2px;
    text-decoration: none;
    background-color: #eee;
}

ul.cms-wizard-navigation li a.previous {
    color: #434343;
}

ul.cms-wizard-navigation li a.active {
    color: #000;
    font-weight: bold;
    background-color: #fff;
    padding-right: 150px;
}
ul.cms-wizard-navigation a.next {
    color: #acacac;
}

