.cms-wizard-navigation {
    background-color: #ccc;
    padding:  1px;

}

.cms-wizard-navigation div {
    float: left;
    padding-right: 14px;
}

.cms-wizard-navigation div {
    background: TRANSPARENT url(../images/arrow.png) no-repeat top right;
}

.cms-wizard-navigation div.active {
    background: TRANSPARENT url(../images/arrow-active.png) no-repeat top right;
}

.cms-wizard-navigation div.previous {
    background: TRANSPARENT url(../images/arrow-previous.png) no-repeat top right;
}

.cms-wizard-navigation div.last {
    background: TRANSPARENT url(../images/arrow-last.png) no-repeat top right;
}

.cms-wizard-navigation div a {
    display: block;
    padding: 8px 15px 8px 15px;
    margin-right: 2px;
    text-decoration: none;
    background-color: #eee;
}

.cms-wizard-navigation div a.previous {
    color: #434343;
}

.cms-wizard-navigation div a.active {
    color: #000;
    font-weight: bold;
    background-color: #fff;
    padding-right: 150px;
}
.cms-wizard-navigation a.next {
    color: #acacac;
}

