body, td, th, input, select, textarea {
    font-family: Arial, Tahoma, Verdana, sans-serif;
    font-size: 11px;
}

body
{
    background-color: #fff;
}

body {
    padding-left: 10px;
* padding-left : 0; /* IE hack! See frameset for spacing */
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 8px;
}

img
{
    border: 0;
}

frame.leftframe {
    border-right: 5px solid #eee;
}

body#mainmenu {
    background-image: none;
    padding-top: 13px;
    margin-right: 12px;
    padding-left: 15px;
* margin-right : 0; /* IE hack! */
}

body#popup {
    background-image: none;
    padding-left: 0;
    padding-right: 0;
}

#popup-body {
    margin: 5px 10px 5px 10px;
    padding: 5px 10px 5px 10px
}

.cal_body {
    padding-left: 0;
}

.disabled-element {
    filter: alpha( opacity = 40 ); /* IE */
    opacity: 0.4; /* Other browsers */
}

.grey-text,
.placeholder-text {
    color: #999 !important;
}

.hand {
    cursor: pointer;
}

.cursor-default {
    cursor: default !important;
}

.cursor-move {
    cursor: move !important;
}

.divider, .formbuilder-seperator {
    border-bottom-color: #ccc; /* 848484 */
    border-bottom-style: solid;

}

.divider {
    border-bottom-width: 1px;
}

.formbuilder-seperator {
    border-bottom-width: 1px;
}

fieldset legend {
    color: #000;
    font-weight: bold;
    font-size: 12px;
}

fieldset legend.dashboard-window-header
{
    font-size: 12px;
}

.body_mainmenu {
    background-color: #FCFCFC;
}

.body_navigator {
    border: 0;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #3a3a3a;
    background-image: url( ../images/bodybg.gif);
    background-repeat: no-repeat;
    background-position: left top;
}

.body_navigator #user-info {
    position: absolute;
    right: 22px;
    top: 0;
    font-weight: normal;
}


.body_navigator,
.body_navigator td,
.body_navigator #user-info a {
    color: #fff;
}

.body_navigator #user-photo-container
{
    margin-right: 8px;
}

form {
    margin: 0;
    padding: 0
}

input.textfield,
input[type=text],
input[type=file],
input[type=password],
input[type = "text"][disabled="true"],
input[type = "radio"][disabled="true"],
input[type = "checkbox"][disabled="true"],
input[type = "submit"][disabled="true"],
input[type = "file"][disabled="true"],
input[type = "image"][disabled="true"],
input[readonly],
textarea,
textarea[disabled],
textarea[readonly],
select {
    background-color: #fff;
    border: 1px solid #b3c3c3;
    padding: 2px;
}

input[readonly],
textarea[readonly],
select[readonly]
{
    background-color: #f5f5f5;
    cursor: not-allowed;
}

input.content-reference {
    color: #999;
}

input.comment-input {
    width: 100% !important;
}

input.error {
    color: #8a1f11;
}

td {
    color: #000000;
}

th {
    color: #000000;
}

table.full {
    width: 100%;
}

th.left,
td.left {
    text-align: left;    
}

th.right,
td.right {
    text-align: right;    
}

th.center,
td.center {
    text-align: center;    
}

th.title
{
    width: 150px;
}

.background_white {
    background-color: white;
}

.background_dark {
    background-color: white;
}             

a {
    color: #1557B3;
    text-decoration: none
}

a:hover {
    color: #000000;
    text-decoration: underline;
}

a.menu:hover {
    color: #252525;
    font-weight: bold;
    text-decoration: none
}

a.fileheader {
    color: #000000;
    font-size: 10pt;
    font-weight: bold;
    text-decoration: none
}

a.fileheader:hover {
    color: #000000;
    font-size: 10pt;
    font-weight: bold;
    text-decoration: none
}

.fileheader {
    color: #000000;
    font-size: 10pt;
    font-weight: bold;
    text-decoration: none
}

a.edit {
    color: #000000;
    font-size: 10pt;
    text-decoration: none
}

a.edit:hover {
    color: #000000;
    font-size: 10pt;
    font-weight: normal;
    text-decoration: none
}

.edit {
    color: #000000;
    font-size: 10pt;
    text-decoration: none
}

a.file {
    color: #000000;
    font-size: 10pt;
    text-decoration: none
}

a.file:hover {
    color: #000000;
    font-size: 10pt;
    font-weight: normal;
    text-decoration: none
}

.file {
    color: #000000;
    font-size: 10pt;
    text-decoration: none
}

h1 {
    color: #000000;
    font-size: 13px;
    font-weight: bold;
    margin: 0 0 1em 0;
    width: 99%;
}

h2 {
    color: #000000;
    font-size: 12px;
    margin-left: 0px;
    font-weight: bold
}

h2.dashboard-group-header
{
    margin:.8em 0;
    padding:0;
    color: #000;
    font-weight: bold;
}

h3 {
    color: #000000;
    font-size: 11px;
    margin-left: 0px;
    font-weight: bold
}

.h1 {
    color: #000000;
    font-size: 13px;
    margin-left: 0px;
    font-weight: bold
}

.h2 {
    color: #000000;
    font-size: 12px;
    margin-left: 0px;
    font-weight: bold
}

.h3 {
    color: #000000;
    font-size: 11px;
    margin-left: 0px;
    font-weight: bold
}

fieldset {
    margin-top: 4px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 6px;
}


/* Applied to Gecko/Firefox only */
body:-moz-last-node fieldset {
    border: 1px solid #D7D7D7;
}

/* Applied to WebKit/Safari only */
@media screen and (-webkit-min-device-pixel-ratio:0){
    fieldset { border: 1px solid #D7D7D7; }
}

.textfield {
    font-family: Arial, Tahoma, Verdana, sans-serif;
    font-size: 11px;
}

.textfieldred {
    font-family: Arial, Tahoma, Verdana, sans-serif;
    font-size: 11px;
    color: #8a1f11;
}

.button_image_small {
    padding: 0;
    margin: 0;
    border-width: 2px;
    border-style: solid;
    border-color: #eee #a9a9a9 #a9a9a9 #eee;
    background: #ebebeb;
    height: 19px;
    width: 19px;
    cursor: pointer;
    vertical-align: bottom;
}

.button_image_small img {
    margin-bottom: 1px;
}

a.button_link {
    cursor: pointer;
}

a.button_link .disabled {
    cursor: default;
}

a.button_link:hover {
    text-decoration: none;
}

.button_text {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
    border-width: 2px;
    border-style: solid;
    border-color: #eee #a9a9a9 #a9a9a9 #eee;
    background: #ebebeb;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    font-size: 11px;
    text-decoration: none;
}

.button_text_hidden {
    display: none;
}

.placebobutton {
    height: 19px;
}

.button_text:hover {
    text-decoration: none;
    cursor: pointer;
}

th.browsetablecolumnheader,
td.browsetablecolumnheader {
    padding: 2px 10px;
    text-decoration: none;
    background: #ebebeb;
    border-width: 1px;
    border-style: solid;
    border-color: #fff #b8b8b8 #b8b8b8 #fff;
    cursor: pointer;
}

td.browsetablecolumnheader.default-cursor {
    cursor: default;
}

td.browsetablecolumnheader_pressed {
    padding: 2px 10px;
    text-decoration: none;
    background: #ebebeb;
    border-width: 1px;
    border-style: solid;
    border-color: #b8b8b8 #fff #fff #b8b8b8;
    cursor: pointer;
}

tr.tablerowpainter_lightrow {
    background-color: #FFFFFF;
}

tr.tablerowpainter_darkrow {
    background-color: #f5f5f5;
}

tr.tablerowpainter_edit {
    background-color: #FEFEFE;
}

tr.tablerowpainter_mouseoverrow {
    background-color: #ebebeb;
}

tr.tablerowpainter_selectedrow {
    background-color: #e0e0e0;
    
}

table.browsetable {
    border: 1px solid #C5C5C5;
    /* padding: 4px; */
    margin: 0;
}

table.browsetable.no-top-border {
    border-top: none;
}

table.browsetable.no-bottom-border {
    border-bottom: none;
}

.table-panel {
    margin: 12px 0 12px 0;
    border: 1px solid #b8b8b8;
    padding: 8px 8px;
    background-color:#fff
}

.table-panel-red
{
    border: 1px solid #8a1f11 !important;
}

td.browsetablecell,
td.browsetablecellred,
td.browsetablecellbold,
td.browsetablecellarrow,
td.browsetablecelldisabled,
td.browsetablecell.no-action,
td.browsetablecellredarrow,
th.list-group-name,
.cell-first
{
    border-bottom: 1px solid #c9c9c9;
    padding: 4px 8px;
}

th.row-last,
td.row-last
{
    border-bottom: none !important;
}

td.browsetablecell {
    cursor: pointer;
}

td.browsetablecellred {
    cursor: default;
    color: #8a1f11;
}

td.browsetablecellbold {
    cursor: pointer;
    color: black;
    font-weight: bold;
}

td.browsetablecellarrow {
}

td.browsetablecelldisabled {
    color: #999;
}

td.browsetablecell.no-action {
    cursor: text !important;
}

td.browsetablecellredarrow {
    color: #8a1f11;
}

.requiredfield, .warning-message {
    color: #8a1f11;
}

td.form_labelcolumn {
    width: 150px;
    white-space: normal;
}

/* Holly Hack for IE */
td.form_labelcolumn div.labelcolumn_inner {
    height: 1%;
}

.form_title_form_seperator {
    height: 20px;
}

.form_form_buttonrow_seperator {
    height: 18px;
}

.browse_title_buttonrow_seperator {
    height: 0;
}

.browse_buttonrow_datarows_seperator {
    height: 1.4em;
}

table.formtable {
    width: 100%;
    border: 3px;
    padding: 0px;
}

.operationscell {
    padding-left: 3px;
    padding-right: 3px;
}

.fieldset_placebo {
    padding-left: 8px;
    padding-right: 5px;
    padding-top: 20px;
    padding-bottom: 5px;
}

.button_pointer {
    cursor: pointer;
}

td.copyright {
    text-align: center;
    color: #cccccc;
}

TR.boxlist {
    background: #FFFFFF;
}

TR.boxlist_mouseover {
    background: #f2f2f2;
}

td.boxtitle {
    border-bottom: 1px solid white;
    border-top: 1px solid #B8B8B8;
    padding: 2px;
    padding-left: 4px;
}

td.boxlist {
    cursor: pointer;
    border-bottom: 1px solid white;
    border-top: 1px solid #B8B8B8;
    padding: 2px;
    padding-left: 4px;
}

table.box {
    background-color: #EEEEEE;
    color: black;
    border-top: 1px solid #b8b8b8;
    border-left: 1px solid #b8b8b8;
    border-right: 1px solid #b8b8b8;
    border-bottom: 1px solid #b8b8b8;
}

td.boxheader {
    font-weight: bold;
    color: black;
    padding: 2px;
    padding-left: 4px;
}

td.boxheadericons {
    text-align: right;
    padding: 2px;
    padding-right: 4px;
}

/* Newsletter recipients popup */
div.recipient {
    font-weight: bold;
    padding-top: 1em;
}

div.recipient span {
    font-size: 1.2em;
}

span.ok {
    color: green;
}

span.error {
    color: #8a1f11;
}

table.parameters {
    margin-top: 5px;
}

table.parameters th {
    background-color: #ddd;
    text-align: left;
    padding: 2px 2px 2px 4px;
    border-bottom: 1px solid #000;
}

table.parameters td {
    font-weight: normal;
    padding: 2px 2px 2px 4px;
}

table.parameters tr.odd {
    background-color: #fff;
}

table.parameters tr.even {
    background-color: #eee;
}

/* End newsletter recipients popup */

.feedbackDiv {
    border: 1px solid #777777;
    padding: 6px;
}

/* Paging */

td.paging {
    padding: 0 6px;
}

ul.paging, ul.paging li {
    margin: 0;
    padding: 0;
    display: inline;
    list-style-type: none;
}

ul.paging a, ul.paging span {
    display: block;
    float: left;
    padding: 0 3px 0 3px;
}

/* End paging */

.is-added {
    color: #888;
    cursor: default !important;
}

.close-button {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    padding: .5em;
    background-color: #eee;
    cursor: pointer;
    color: #000;
}

.info { background-color: #ffffc7; padding: 6px }

/* Publish date table cell */
table.datetime-grid td { padding-right: 6px; }
table.datetime-grid td.date-field { padding-right: 3px; }

/* Publish status selector */
select.publish-status option { padding: 1px 0 3px 20px; background-repeat: no-repeat; background-position: 1 1 }
select.publish-status option[value = '0'] { background-image: url( ../images/icon_state_draft.gif ) }
select.publish-status option[value = '1'] { background-image: url( ../images/icon_state_approve.gif ) }
select.publish-status option[value = '2'] { background-image: url( ../images/icon_state_approved.gif ) }
select.publish-status option[value = '3'] { background-image: url( ../images/icon_state_archived.gif ) }
select.publish-status option[value = '4'] { background-image: url( ../images/icon_state_pending.gif ) }
select.publish-status option[value = '5'] { background-image: url( ../images/icon_state_published.gif ) }
select.publish-status option[value = '6'] { background-image: url( ../images/icon_state_expired.gif ) }

.operation-top { margin-bottom: 8px }
.operation-bottom { margin-top: 8px }

select.section-operation option { background-repeat: no-repeat; padding-left: 20px }
select.section-operation option[value = 'publish'] { background-image: url( ../images/icon_content_approve.gif ) }
select.section-operation option[value = 'stopPublish'] { background-image: url( ../images/icon_content_unapprove.gif ) }
select.section-operation option[value = 'remove'] { background-image: url( ../images/icon_remove.gif ); background-position:3px 3px }

select._content-operation option { background-repeat: no-repeat; padding-left: 20px }
select._content-operation option[value = 'delete'] { background-image: url( ../images/icon_delete_16x16.gif ) }
select._content-operation option[value = 'move'] { background-image: url( ../images/icon_content_move_16x16.gif ) }
select._content-operation option[value = 'copy'] { background-image: url( ../images/icon_copy_16x16.gif ); background-position:3px 3px }

div.content-publishing-site { }
td.content-publishing-site-heading { border-bottom: 1px solid #b8b8b8; color: #000; font-weight: normal; margin-bottom: 0; }
table.content-publishing-indent { margin: 0 0 0 20px }

pre.content-source {
    background-color:#fff;
    border: 1px solid #b8b8b8;
    height:200px;
    padding:6px;
    overflow:auto;
    white-space:pre-wrap;
    font-size:11px;
}

fieldset.versions-container
{
    padding: 9px;
    margin: 0 0 10px 0;
}

div#version-list-wrapper
{
    clear:both;
    padding-top:8px;
}

div.version-list-table-scrollable-body
{
    max-height:130px;
    overflow: auto;
}

div.version-list-table-scrollable-body td
{
    padding-left: 12px !important;
}

.text-link-button
{
    font-weight: bold;
    text-decoration: underline;
}

.cell-first
{
    padding: 0;
    text-align: center;
}

th.list-group-name
{
    text-align: left;
    padding: 4px;
    font-weight: bold;
    background-color: #fff;
}

th.list-group-name img
{
    vertical-align: bottom;
    margin-right: 5px;
}

.content-icon
{
    margin: 0;
    text-align: center;
}

.content-icon .content-icon-container
{
    position: relative;
}

.content-icon .overlay-icon
{
    position: absolute;
    left: 0;
    bottom: 0;
}

#user-photo
{
    width: 70px;
    height: 70px;
    border-width: 1px;
    border-style: solid;
    border-color: #fafafa #b8b8b8 #b8b8b8 #fafafa;
    padding: 4px;
    margin-top: 4px;
}

.icon-remote
{
    display: inline;
    padding: 1px 6px;
    background: Transparent url(../images/icon_remote_10px.gif) no-repeat scroll 0 5px;
    cursor: help;
    filter: alpha( opacity = 90 ); /* IE */
    opacity: .9; /* Other browsers */
}

.icon-remote.hidden
{
    display: none;
}

.cms-error
{
    font-size: 11px;
    color: #8a1f11;
}

#synchronize-overlay
{
    background-color: #fff;
    left: 0;
    opacity: .7;
    filter: alpha( opacity = 70 ); /* IE */
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100000;
}

#synchronize-status-box
{
    background: #eee url(../images/icon-info-64.png) no-repeat top left;
    border: 2px solid;
    border-color: #fafafa #b8b8b8 #b8b8b8 #fafafa;
    padding: 12px 12px 12px 65px;
    position: absolute;
    top: 211px;
    left: 50%;
    width: 270px;
    height: 76px;
    z-index: 100010;
}

#synchronize-status-box p
{
    font-weight: bold;
}

.html-document-iframe
{
    border: 1px solid;
    border-color: #b8b8b8 #fafafa #fafafa #b8b8b8;
}

#mainmenu-refresh-button-container
{
    position:absolute;
    top:8px;                                                                         
    right:8px;
}

a#mainmenu-refresh-button
{
    display: block;
    padding: 2px;
    border: 1px solid Transparent;
}

a#mainmenu-refresh-button:hover 
{
    border: 1px solid #b8b8b8;
}

a.resource-in-use-link
{
    padding: 4px;
}

#textfielddatetime-error-message
{
    color: #8a1f11;
    padding: 0 4px 4px 18px;
    background: Transparent url(../images/form-error.png) no-repeat 0 0
}

.publish-status-icon
{
    vertical-align: bottom;
}

.display-help
{
    background: #ffff99;
    border: 1px solid #777777;
    padding: 2px;
}

.related-content-title
{
    padding-right: 8px;    
}

.no-border
{
    border: none !important;
}

.dashboard-user-display-name
{
    font-size:10px;
    color: #999;
}

.dashboard-td-overdue
{
    color: #8a1f11;
}

input.calendar-icon
{
    background: url(../javascript/images/cal.gif) no-repeat;
    padding: 0;
    width: 20px;
    height: 20px;
    border: 0;
    cursor: pointer;
}

input.calendar-icon[disabled]
{
    filter: alpha( opacity = 40 );
    opacity: 0.4;
}

.mei-region-portlets
{
    width: 100%;
}

#preference-table
{
    width: 99%;
}

#preference-table th
{
    text-align: left;
}

#preference-table .pt-scope-column
{
    width: 20px;
    padding-right: 10px;
    text-align: center;
}

#preference-table .pt-path-column
{
    padding-right: 10px;
    width: 400px;
}

#preference-table .pt-key-column
{
    width: 180px;
    padding-right: 10px;
}

.table-filter-highlight
{
    font-weight: bold;
    text-decoration: underline;
}