fieldset.versions-container {
    position: relative;
}

fieldset.versions-container legend {
    position: absolute;
    top: -.5em;
    left: .2em;
}

/* IE 6 max-height workaround */
* html div.version-list-table-scrollable-body
{
    height: expression( this.scrollHeight > 128 ? "130px" : "auto" ); /* sets max-height for IE */
}

