.assignee-status-box {
    position: absolute;
    top: 36px;
    right: 23px;
    display: inline-table; /* Width fix for WebKit */
}

.assignee-status-user {
    border: 1px solid #AEAEAE;
    padding: 8px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
}

.assignment h3 {
    color: #000000;
    font-size: 11px;
    font-weight: bold;
    margin: 0 !important
}

.assignment .assignee-photo {
    padding-right: 7px;
}

.assignment .assignee-photo img {
    vertical-align: middle;
}
