/*
 *      dyn/calendar
 *
 *      Copyright 2007 Azer Ko�ulu <http://azer.kodfabrik.com>
 *      24.09.2007
 *
 *      This program is free software; you can redistribute it and/or modify
 *      it under the terms of the GNU General Public License as published by
 *      the Free Software Foundation; either version 2 of the License, or
 *      (at your option) any later version.
 *
 *      This program is distributed in the hope that it will be useful,
 *      but WITHOUT ANY WARRANTY; without even the implied warranty of
 *      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *      GNU General Public License for more details.
 *
 *      You should have received a copy of the GNU General Public License
 *      along with this program; if not, write to the Free Software
 *      Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 *      MA 02110-1301, USA.
 */
#calendar { position:absolute; display:none; width:200px;  }
#calendar iframe
{
display:none;/*sorry for IE5*/
display/**/:block;/*sorry for IE5*/
position:absolute;/*must have*/
top:0;/*must have*/
left:0;/*must have*/
z-index:-1;/*must have*/
filter:mask();/*must have*/
width: 100%;/*must have for any big value*/
height: 100%;/*must have for any big value*/;
}
#calendar table { background:#fff; font:11px Arial, Tahoma, Verdana, sans-serif;  color:#666;  border:1px solid #d0d0d0; padding:1px; }
#calendar .top { background:#d0d0d0; color:#fff;  }
#calendar .top th {  padding:2px 0 2px 0; margin-bottom:2px; color: #000 }
#calendar .bottom { background:#ccc; text-align:right; color:#fff; font:10px Arial, Tahoma, Verdana, sans-serif; padding:1px }
#calendar .navigate { background:#555; color:#fff; padding:2px;  }
#calendar .navigate div { text-align:center }
#calendar tr { background:#fff; }
#calendar td { padding:2px; }
#calendar .lightColor { color:#aaa }
#calendar .cell { text-align:center; cursor:pointer; }

#calendar .arrow { position:absolute; outline:none; font-size:11px; padding:0px 5px 0px 5px; background:#d0d0d0;  color:#000; text-decoration:none; margin:0 0 0 155px }
#calendar .doubleLeft { margin-left:1px }
#calendar .doubleRight { margin-left:172px }
/* for non-ie */
body > #calendar .arrow { margin:0 0 0 153px }
body > #calendar .left { margin-left:22px; }
body > #calendar .doubleLeft { margin-left:1px }
body > #calendar .doubleRight { margin-left:170px }
/**/
#calendar .left { margin-left:22px; }
#calendar .today { border:1px solid #8a1f11; background:#fff; }
#calendar .selday { text-decoration:underline; color:rgb(20,70,150); }
#calendar .mouseover { text-decoration:underline; color:rgb(20,70,150); }
#z { zoom: 400%  }