.user-picker-autocomplete-photo {
    padding-right: 7px;
}

.user-picker-autocomplete-photo img {
    vertical-align: middle;
}

.user-picker-autocomplete-email {
}

.user-picker-autocomplete-name-email .user-picker-autocomplete-email {
    font-size: 10px;
    color: #999;
}

.user-picker-autocomplete-access-right {
    width: 16px;
    padding-left: 6px;
}

.search-highlight {
    font-weight: bold;
}

.user-picker-autocomplete-feedback {
    display: none;
    position: absolute;
    top: -21px;
    background-color: #fff;
    padding: 4px;
}

span.user-picker-selected-user-qname
{
    padding-left: 7px;
    color: #1b1b1b;
}