@import "../reindeer/styles.css";

.accounts-left-panel {
/*
    border: 1px solid #C2C3C4;
    margin-top: 15px;
*/
}

.accounts-left-panel .accounts-check-title {
    font-weight: bold;
}

.accounts-left-panel .accounts-check-filter {
    margin-left: 8px;
}

.accounts-left-panel .v-accordion-item-caption {
    background-color: #95BCF2;
    font-weight: bold;
    font-size: 102%;
    height: 24px;
    padding-top: 4px;
    text-shadow: none;
}

.accounts-left-panel .v-accordion-item-open .v-accordion-item-caption {
    background: url("common/img/sel-bg.png") repeat-x scroll 0 0 #4D749F  ;
    color: white;
    text-shadow: 0 1px 0 #3B5A7A;
    /*background: #95BCF2 none;*/
}

.accounts-left-panel .v-accordion-item-caption {
    background: #E4E4E4;
}

.accounts-left-panel .v-verticallayout-accounts-spacer .v-verticallayout-margin {
    padding: 4px;
}


.accounts-left-panel .accounts-search-text {
    background: url("images/search.png") no-repeat;
}

.accounts-left-panel .accounts-spacer input.v-textfield  {
    padding-left: 18px;
    margin-bottom: 4px;
}

.v-caption-accounts-table .v-captiontext {
    float: right;
}

div.v-tabsheet {
    background-color: black;
}

div.v-tabsheet-tabcontainer{
    background: url(images/logo.png) no-repeat;
    padding: 35px 0 0 350px;
}

div.v-tabsheet-content {
    margin: 0 10px;
}

.v-tabsheet-spacertd div {
    background: none repeat scroll 0 0 black;
}


