html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, section, article, aside, footer {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    font-family: arial,helvetica,sans-serif;
    font-size: 75%;
    color: #222;
    line-height: 1.5;
    background: #141414 url("images/bodybg.gif") repeat-x center bottom fixed;
}

a {
    color: #186DCB;
    text-decoration: underline;
}

h1 {
    font-size: 2.3em;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 0.4em;

}

h2 {
    font-size: 1.5em;
    font-weight: bold;
}

#sites h2 {
    margin-bottom: 15px;
}

h3 {
    font-size: 1.1em;
    font-weight: bold;
}

#logo, nav, footer, #content-outer {
    width: 950px;
    margin: 0 auto;
    position: relative;
}

#content-outer {
    width: 898px;
    padding: 25px 25px 75px 25px;
    background-color: #fff;
}

#content {
    width: 586px;
    margin-right: 25px;
    float: left;
}

aside {
    width: 287px;
    float: left;
}

footer {
    margin-top: 10px;
    color: #fff;
}

#logo {
    height: 75px;
    padding-top: 20px;
}

#logo-screen {
    width: 172px;
    height: 53px;
}

ul.menu.main {
    background: url("images/menubg.gif") repeat-x scroll 0 0 #1557B3;
}

ul.menu, ul.menu ul {
    list-style-type: none;
    margin: 0;
}

ul.menu.horizontal li {
    float: left;
}

ul.menu.main a.active, ul.menu.main div.active, ul.menu.main a.path, ul.menu.main div.path {
    padding: 3px 12px 6px;
    background-color: #FFFFFF !important;
    background-image: none;
    color: #186DCB;
}

ul.menu.main a.first, ul.menu.main div.first {
    margin-left: 13px;
}

ul.menu.main a, ul.menu.main div {
    color: #fff; /*B2C9E9*/
    font-weight: bold;
    margin: 6px 0 0 0;
    overflow: hidden;
    padding: 3px 16px 6px 12px;
    text-align: center;
    white-space: nowrap;
    background: url("images/icon-link.png") no-repeat scroll right 5px TRANSPARENT
}

ul.menu a, ul.menu div {
    display: block;
    text-decoration: none;
}

#management-components {
    margin-bottom: 25px;
}

#management-components .icon-admin {
    margin-right: 10px;
}

#management-components .icon-webdav {
    margin-right: 10px;
}

.component {
    width: 278px;
}
.component div {
}

.component.admin {
    margin-right: 25px;
}

.component h3 {
    margin-top: 15px;
}

#welcome {
    margin-bottom: 25px;
}

#steps {
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 15px 25px;
}

.step {
    margin-bottom: 15px;
}

.step.last {
    margin-bottom: 0;

}

.step .number {
    font-size: 3.0em;
    font-weight: bold;
    margin-right: 25px;
}

.step .description {
    width: 488px;
}

#sites {
    padding: 15px 20px;
}


#sites ul {
    list-style: none;
}

#sites ul li {
    padding-left: 40px;
    background: url("images/icon-site.png") no-repeat 0 2px TRANSPARENT;
    margin-bottom: 10px;
}

.box {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #eee;
}

/* ---- Utils ----- */

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.clearfix:after, .container:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
}
