.no-border {
    border: none !important;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.cms-emphasis {
    font-style: italic;
}

/* ----- Overrides ext-all.css ----- */

body,
.x-body,
.x-panel-body,
.x-form-item,
.x-form-item-label,
.x-form-display-field {
    font: 11px tahoma,arial,verdana,sans-serif;
}
.x-toolbar .sliding-pager-text.x-toolbar-text {
    color: #04408C !important;
    font-weight: bold;
}

.x-html h1 {
    font-size: 2.5em;
    margin: 0
}

/* ----- Launcher ----- */

#launcher-toolbar {
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #99BCE8;
    border-left: none;
    height: 34px;
    background: #dbeeff;
    background: -moz-linear-gradient(top, #dbeeff 0%, #bbd2f0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dbeeff), color-stop(100%, #bbd2f0));
    background: -webkit-linear-gradient(top, #dbeeff 0%, #bbd2f0 100%);
    background: -o-linear-gradient(top, #dbeeff 0%, #bbd2f0 100%);
    background: -ms-linear-gradient(top, #dbeeff 0%, #bbd2f0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#dbeeff', endColorstr = '#bbd2f0', GradientType = 0);
    background: linear-gradient(top, #dbeeff 0%, #bbd2f0 100%);
}

#launcher-logo {
    background: Transparent url("../images/enonic-logo.png") 0 0 no-repeat;
    width: 80px;
    height: 16px;
    cursor: pointer;
}

#launcher-start-button {
}

#launcher-start-button .x-btn-inner {
    font-size: 12px;
    font-weight: 200;
}

#launcher-start-button .x-btn-arrow {
}

.launcher-center-inner,
.system-center-inner {
    border: none !important;
}

#launcher-iframe,
#system-iframe {
    width: 100%;
    height: 100%;
    border: 0
}


/* ----- Logged in user popup -----*/

.logged-in-user-popup {
    background-color: #fff;
    padding: 10px;
    box-shadow: 5px 5px 5px #ccc;
}

.logged-in-user-popup-left {
    float: left;
    margin-right: 15px;
}

.logged-in-user-popup-right {
    float: left;
    width: 243px;
}

.logged-in-user-popup-left img {
     border-radius: 4px;
}

.logged-in-user-popup-right h1 {
    font-size: 18px !important;
}

.logged-in-user-popup-log-out {
}

/* ----- Accounts -----*/

img.thumbnail {
    width: 40px;
    height: 40px;
}

img.photo {
    width: 100px;
    height: 100px;
}

/* ----- Accounts Grid -----*/
.cms-grid-title {
    font-weight: bold;
}

.cms-grid-description {
}

.x-grid-cell img.thumbnail {
    float: left;
    margin-right: 6px
}

/* ----- Accounts Details Panel ----- */

.detail-info {
    padding: 10px;
}

.detail-info img {
    float: right;
}

.detail-info h3 {
    font-size: 24px;
    font-weight: normal;
}

.detail-info dl {
    float: left;
    padding: 10px;
    width: 50%;
    font-size: 12px;
}

.detail-info dl dt {
    float: left;
    font-style: italic;
    width: 120px;
}

.detail-info dl dd {
}

.detail-panel-container {
    width: 100%;
}

.detail-left-panel {
    float: left;
    width: 67%;
    margin: 10px;
}

.detail-right-panel {
    margin-left: 68%;
    padding: 10px;
    width: 31%;
}

.detail-right-panel-div {
    left: 0;
    padding: 0 10px;
}

/* ----- Accounts Filter Panel ----- */

.facet-navigation,
.facet-navigation .x-form-item {
    font-size: 11px !important;
}

.facet-header {
    font-weight: bold;
    margin: 0 0 4px 0
}

.facet-single-select-item,
.facet-multi-select-item {
    color: #000;
    margin: 0 0 -2px 20px;
}

.facet-single-select-item {
}

.facet-selected {
    font-weight: bold;
}

/* ----- Cycle Button Menu Items -----*/

.x-menu-item img.icon-details-bottom, .icon-details-bottom {
    background-image: url("../images/details_bottom.gif");
}

.x-menu-item img.icon-details-right, .icon-details-right {
    background-image: url("../images/details_right.gif");
}

.x-menu-item img.icon-details-hide, .icon-details-hide {
    background-image: url("../images/details_hide.gif");
}

/* ----- Icons -----*/

.icon-user {
    background-image: url("../images/user.png");
}

.icon-user-add {
    background-image: url("../images/user_add.png");
}

.icon-group-add {
    background-image: url("../images/group_add.png");
}

.icon-group {
    background-image: url("../images/group.png");
}

.icon-edit-user {
    background-image: url("../images/user_edit.png");
}

.icon-delete-user {
    background-image: url("../images/user_delete.png");
    background-position: center;
}

.icon-change-password {
    background-image: url("../images/key.png");
}

.icon-find {
    background-image: url("../images/find.png");
}

.icon-report {
    background-image: url("../images/report.png");
}

.icon-accounts {
    background-image: url("../images/group.png");
}

.icon-system {
    background-image: url("../images/cog.png");
}

.icon-settings {
    background-image: url("../images/xfce-system-settings.png");
}

.icon-log-out {
    background-image: url("../images/door_out.png");
}

.icon-dashboard {
    background-image: url("../images/house.png");
}

.icon-locked {
    background-image: url("../images/icon_lock_closed.png");
}

.icon-unlocked {
    background-image: url("../images/icon_lock_open.png");
}

.icon-remote {
    background-image: url("../images/icon_remote_10px.gif");
}

.icon-enonic {
    background-image: url("../images/icon_enonic_logo.png");
}

.icon-edit {
    background-image: url("../images/pencil.png");
}

.icon-delete {
    background-image: url("../images/cross.png");
}

.icon-new {
    background: url("../images/add.png");
}

.icon-refresh {
    background: url("../images/arrow_refresh.png");
}

.icon-save {
    background: url("../images/accept.png");
}

.icon-cancel {
    background: url("../images/cancel.png");
}

/*-----  Dashboard  -----*/

.dashboard .dashboard-body {
    padding: 0 0 10px 10px;
}

.dashboard .dashlet-column {
    padding: 10px 10px 0 0;
}

.dashboard .x-panel-dd-spacer {
    border: 2px dashed #99bbe8;
    background: #f6f6f6;
    border-radius: 4px;
    -moz-border-radius: 4px;
    margin-bottom: 10px;
}

.dashboard .dashlet {
    margin-bottom: 10px;
    padding: 1px;
}

.dashboard .dashlet .x-panel-body {
    background: #fff;
}

.group-item {
    font-size: 14px;
    font-weight: 200;
    margin: 5px;
    vertical-align: middle;
}

.cms-dashboard-palette-item {
    cursor: move;
    background-color: #fafafa;
    padding: 4px;
    margin: 2px;
    clear: both;
}

.cms-dashboard-palette-item:hover {
    background-color: #f0f0f0;
}

.cms-dashboard-palette-item .item-icon {
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.cms-dashboard-palette-item .item-text {
    float: left;
}

/*------ Userstore ---------*/

.userstore-info .thumbnail {
    float: left;
    margin-right: 10px;
}

.userstore-info .x-panel-body {
    border-width: 0 !important;
}

.userstore-info .x-toolbar {
    border-width: 1px !important;
}

.display-name-readonly input {
    font-weight: bold;
}

.display-name input {
    border: none;
    font-size: 35px;
    text-align: left;
    background: none;
}

.display-name div {
    font-weight: bold;
    font-size: 20px;
}

.x-form-display-field {
    padding-left: 5px;
    padding-top: 3px;
}

.group-display{
    background: #d3d3d3;
    cursor: auto !important;
}

.group-display button{
    cursor: auto !important;
}

/*------ Cache ---------*/

.cache-info h1 {
    margin: 0;
}
.cache-info h1 span {
    font-size: 13px;
    font-style: normal;
    margin-left: 10px;
}


/*------------------------------------------- */

/* Generic */
.cms-selected-item-box {
    float: left;
    display: inline-block;
}

.cms-selected-item-box .left {
    float: left;
}

.cms-selected-item-box .center {
    float: left;
}

.cms-selected-item-box .right {
    float: left;
}


/* Large */
.cms-selected-item-box.large {
    padding: 5px;
    margin: 0 10px 10px 0;
}

.cms-selected-item-box.large .left {
    margin-right: 16px;
}

.cms-selected-item-box.large .left img {
    width: 40px;
    height: 40px;
}

.cms-selected-item-box.large .center {
    margin-right: 16px;
}

.cms-selected-item-box.large .center h2 {
    margin: 2px 0 0 0;
    font-size: 16px;
}

.cms-selected-item-box.large .center p {
    margin: 0;
}

.cms-selected-item-box.large .right {
    margin: 12px 6px 0 0;
}

.cms-selected-item-box.large .right a {
    width: 16px;
    height: 16px;
    display: block;
    background: transparent url(../../resources/images/cross.png) no-repeat;
}


/* Small */
.cms-selected-item-box.small {
    padding: 3px;
    margin: 0 10px 10px 0;
}

.cms-selected-item-box.small .left {
    margin-right: 12px;
}

.cms-selected-item-box.small .left img {
    width: 20px;
    height: 20px;
}

.cms-selected-item-box.small .center {
    margin-right: 16px;
}

.cms-selected-item-box.small .center h2 {
    font-size: 11px;
    font-weight: normal;
    margin: 2px 0 0 0;
}

.cms-selected-item-box.small .center p {
    margin: 0;
}

.cms-selected-item-box.small .right {
    margin: 6px 3px 0 0;
}

.cms-selected-item-box.small .right a {
    width: 8px;
    height: 8px;
    display: block;
    background: transparent url(../../resources/images/cross-sm.png) no-repeat;
}

/* Edit Form Header */
.cms-edit-form-header {
    background-color: #eee;
    padding: 10px;
}

.cms-edit-form-header .left {
    float: left;
    margin-right: 16px;
}

.cms-edit-form-header .left img {
    width: 40px;
}

.cms-edit-form-header .right {
    float: left;
}

.cms-edit-form-header .right h1 {
    font-size: 18px;
    float: left;
}

.cms-edit-form-header .edit-button {
    display: block;
    margin: 2px 0 0 5px;
    padding: 3px;
    border: 1px solid TRANSPARENT;
    background: TRANSPARENT url(../../resources/images/pencil.png) no-repeat;
    float: left;
    width: 16px;
    height: 16px;
}

.cms-edit-form-header .edit-button:hover {
    border-color: #c0c0c0;
}

.cms-edit-form-header .right p {
    margin: 5px 0 0 0;
}
