/* ----- Accounts Details Panel ----- */
.detail-info {
    padding: 10px;
}

.detail-info img {
    float: right;
}

.detail-info h3 {
    font-size: 24px;
    font-weight: normal;
}

.detail-info dl {
    float: left;
    padding: 10px;
    width: 50%;
    font-size: 12px;
}

.detail-info dl dt {
    float:left;
    font-style: italic;
    width: 120px;
}

.detail-info dl dd {

}

/* ----- Accounts Filter Panel ----- */
.facet-navigation,
.facet-navigation .x-form-item {
    font-size: 11px !important;
}

.facet-header {
    font-weight: bold;
    margin: 0 0 4px 0
}

.facet-single-select-item,
.facet-multi-select-item {
    color: #000;
    margin: 0 0 -2px 14px;
}

.facet-single-select-item {
}

.facet-selected {
    font-weight: bold;
}

/* ----- Details Panel Cycle Menu Items -----*/
.x-menu-item img.details-bottom, .details-bottom {
    background-image: url("../images/details_bottom.gif");
}

.x-menu-item img.details-right, .details-right {
    background-image: url("../images/details_right.gif");
}

.x-menu-item img.details-hide, .details-hide {
    background-image: url("../images/details_hide.gif");
}
