.no-border {
    border: none !important;
}

/* ----- Launcher ----- */

#launcher-toolbar {
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #99BCE8;
    border-left: none;
    height: 34px;
    background: #dbeeff;
    background: -moz-linear-gradient(top, #dbeeff 0%, #bbd2f0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dbeeff), color-stop(100%, #bbd2f0));
    background: -webkit-linear-gradient(top, #dbeeff 0%, #bbd2f0 100%);
    background: -o-linear-gradient(top, #dbeeff 0%, #bbd2f0 100%);
    background: -ms-linear-gradient(top, #dbeeff 0%, #bbd2f0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#dbeeff', endColorstr = '#bbd2f0', GradientType = 0);
    background: linear-gradient(top, #dbeeff 0%, #bbd2f0 100%);
}

#launcher-logo {
    background: Transparent url("../images/enonic-logo.png") 0 0 no-repeat;
    width: 80px;
    height: 16px;
    cursor: pointer;
}

#launcher-start-button {
}

#launcher-start-button .x-btn-inner {
    font-size: 12px;
    font-weight: 200;
}

#launcher-start-button .x-btn-arrow {
}

.launcher-center-inner,
.system-center-inner {
    border: none !important;
}

#launcher-iframe,
#system-iframe {
    width: 100%;
    height: 100%;
    border: 0
}


/* ----- Logged in user panel -----*/

.logged-in-user-panel {
    box-shadow: 5px 5px 5px #ccc;
}

.logged-in-user-panel-body {
    padding: 10px;
}

.logged-in-user-panel-left {
    float: left;
    margin-right: 15px;
}

.logged-in-user-panel-left img {
}

.logged-in-user-panel-right h1 {
    font-size: 18px !important;
}

.logged-in-user-panel-right {
    float: left;
}

/* ----- Accounts -----*/

img.thumbnail {
    width: 40px;
    height: 40px;
}

img.photo {
    width: 100px;
    height: 100px;
}

/* ----- Accounts Grid -----*/

.x-grid-cell img.thumbnail {
    float: left;
    margin-right: 6px
}

/* ----- Accounts Details Panel ----- */

.detail-info {
    padding: 10px;
}

.detail-info img {
    float: right;
}

.detail-info h3 {
    font-size: 24px;
    font-weight: normal;
}

.detail-info dl {
    float: left;
    padding: 10px;
    width: 50%;
    font-size: 12px;
}

.detail-info dl dt {
    float: left;
    font-style: italic;
    width: 120px;
}

.detail-info dl dd {
}

/* ----- Accounts Filter Panel ----- */

.facet-navigation,
.facet-navigation .x-form-item {
    font-size: 11px !important;
}

.facet-header {
    font-weight: bold;
    margin: 0 0 4px 0
}

.facet-single-select-item,
.facet-multi-select-item {
    color: #000;
    margin: 0 0 -2px 20px;
}

.facet-single-select-item {
}

.facet-selected {
    font-weight: bold;
}

/* ----- Cycle Button Menu Items -----*/

.x-menu-item img.icon-details-bottom, .icon-details-bottom {
    background-image: url("../images/details_bottom.gif");
}

.x-menu-item img.icon-details-right, .icon-details-right {
    background-image: url("../images/details_right.gif");
}

.x-menu-item img.icon-details-hide, .icon-details-hide {
    background-image: url("../images/details_hide.gif");
}

/* ----- Icons -----*/

.icon-user {
    background-image: url("../images/user.png");
}

.icon-user-add {
    background-image: url("../images/user_add.png");
}

.icon-group-add {
    background-image: url("../images/group_add.png");
}

.icon-group {
    background-image: url("../images/group.png");
}

.icon-edit-user {
    background-image: url("../images/user_edit.png");
}

.icon-delete-user {
    background-image: url("../images/user_delete.png");
    background-position: center;
}

.icon-change-password {
    background-image: url("../images/key.png");
}

.icon-find {
    background-image: url("../images/find.png");
}

.icon-report {
    background-image: url("../images/report.png");
}

.icon-accounts {
    background-image: url("../images/group.png");
}

.icon-system {
    background-image: url("../images/cog.png");
}

.icon-settings {
    background-image: url("../images/xfce-system-settings.png");
}

.icon-log-out {
    background-image: url("../images/door_out.png");
}

.icon-dashboard {
    background-image: url("../images/house.png");
}

.icon-locked {
    background-image: url("../images/icon_lock_closed.png");
}

.icon-unlocked {
    background-image: url("../images/icon_lock_open.png");
}

.icon-remote {
    background-image: url("../images/icon_remote_10px.gif");
}

.icon-enonic {
    background-image: url("../images/icon_enonic_logo.png");
}

.icon-edit {
    background-image: url("../images/pencil.png");
}

.icon-delete {
    /*background-image: url("../images/delete.png");*/
    background-image: url("../images/cross.png");
}

.icon-new {
    background: url("../images/add.png") no-repeat;
}

.icon-refresh {
    background: url("../images/arrow_refresh.png") no-repeat;
}

.icon-save {
    background: url("../images/accept.png") no-repeat;
}

.icon-cancel {
    background: url("../images/cancel.png") no-repeat;
}

/*-----  Dashboard  -----*/

.dashboard .dashboard-body {
    padding: 0 0 10px 10px;
}

.dashboard .dashlet-column {
    padding: 10px 10px 0 0;
}

.dashboard .x-panel-dd-spacer {
    border: 2px dashed #99bbe8;
    background: #f6f6f6;
    border-radius: 4px;
    -moz-border-radius: 4px;
    margin-bottom: 10px;
}

.dashboard .dashlet {
    margin-bottom: 10px;
    padding: 1px;
}

.dashboard .dashlet .x-panel-body {
    background: #fff;
}


.group-item {
    font-size: 14px;
    font-weight: 200;
    margin: 5;
    vertical-align: middle;
}


/*------    Userstore   ---------*/

.userstore-info .thumbnail {
    float: left;
    margin-right: 10px;
}

.userstore-info .x-panel-body {
    border-width: 0px !important;
}

.userstore-info .x-toolbar {
    border-width: 1px !important;
}

.display-name-readonly input {
    font-weight: bold;
}

.display-name input {
    border: none;
    font-size: 35px;
    text-align: left;
    background: none;
}

.display-name div {
    font-weight: bold;
    font-size: 20px;
}

.x-form-display-field {
    padding-left: 5px;
    padding-top: 3px;
}

.group-display{
    background: #d3d3d3;
    cursor: auto !important;
}

.group-display button{
    cursor: auto !important;
}

/*------    Cache   ---------*/

.cache-info h1 {
    margin: 0;
}
.cache-info h1 span {
    font-size: 13px;
    font-style: normal;
    margin-left: 10px;
}

.item-icon {
    cursor: pointer;
    background: url("../images/chart_curve.png") no-repeat ;
    padding-left: 20px;
    height: 20px;
}

