/* Generic */
body {
font-family:Arial, Tahoma, Verdana, sans-serif; font-size:11px;
background:#fff;
padding:0;
margin:8px 8px 0 8px;
}

html {background:#fff;}
td {font-family:Arial, Tahoma, Verdana, sans-serif; font-size:11px;}
textarea {resize:none;outline:none;}
a:link, a:visited { color:#193B73; }
a:hover { text-decoration: underline; color:#000; }

.requiredfield {color: #8a1f11;}

/* Forms */
fieldset {
    margin-top: 4px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 6px;
}


/* Applied to Gecko/Firefox only */
body:-moz-last-node fieldset {
    border: 1px solid #D7D7D7;
}

/* Applied to WebKit/Safari only */
@media screen and (-webkit-min-device-pixel-ratio:0){
    fieldset { border: 1px solid #D7D7D7; }
}


legend { color: #000; font-weight: bold; font-size: 12px; }
label.msg {display:none;}
label.invalid {color:#EE0000; display:inline;}
input.invalid {border:1px solid #EE0000;}
input {background:#FFF;}
input[type = "text"], select, textarea {
    font-family:Arial, Tahoma, Verdana, sans-serif;
    font-size:11px;
    border: 1px solid #aeaeae;
    padding: 2px;
}
input[type=text],
input[type=file],
input[type=password],
input[disabled],
input[readonly], select, textarea {border:1px solid #A7a6aa;}
input.radio {border:1px none #000000; background:transparent; vertical-align:middle;}
input.checkbox {border:1px none #000000; background:transparent; vertical-align:middle;}
.input_noborder {border:0;}

/* Buttons */
#insert, #cancel, input.mceButton, .updateButton, .button {
margin:0; padding:0 11px;
cursor:pointer;
}

/*#insert {background:url(img/buttons.png) 0 -52px;}
#cancel {background:url(img/buttons.png) 0 0;}*/

#insert, #cancel, .button {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 0;
  background: #E5E5E5;
  font-family: Arial, Tahoma, Verdana, sans-serif;
  font-size: 11px;
  text-decoration: none;

/*
margin-left: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-top: 0px;
background: #E5E5E5;
font-family: Arial, Tahoma, Verdana, sans-serif;
font-size: 11px;
text-decoration: none;
border: 2px solid #fff;
border-style: outset;
*/
}

/* Browse */
a.browse span {display:block; width:20px; height:18px; background:url(../../img/icons.gif) -860px 0; border:1px solid #FFF; margin-left:1px;}
.mceOldBoxModel a.browse span {width:22px; height:20px;}
a.browse:hover span {border:1px solid #0A246A; background-color:#B2BBD0;}
a.browse span.disabled {border:1px solid white; -moz-opacity:0.3; opacity:0.3; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);}
a.browse:hover span.disabled {border:1px solid white; background-color:transparent;}
a.pickcolor span {display:block; width:20px; height:16px; background:url(../../img/icons.gif) -840px 0; margin-left:2px;}
.mceOldBoxModel a.pickcolor span {width:21px; height:17px;}
a.pickcolor:hover span {background-color:#B2BBD0;}
a.pickcolor:hover span.disabled {}

/* Charmap */
table.charmap {border:1px solid #AAA; text-align:center}
td.charmap, #charmap a {width:18px; height:18px; color:#000; border:1px solid #AAA; text-align:center; font-size:12px; vertical-align:middle; line-height: 18px;}
#charmap a {display:block; color:#000; text-decoration:none; border:0}
#charmap a:hover {background:#CCC;color:#1C70B1}
#charmap #codeN {font-size:10px; font-family:Arial,Helvetica,sans-serif; text-align:center}
#charmap #codeV {font-size:40px; height:80px; border:1px solid #AAA; text-align:center}

/* Source */
.wordWrapCode {vertical-align:middle; border:1px none #000000; background:transparent;}
.mceActionPanel {margin-top:5px;}

/* Tabs classes */
.tabs {width:100%; height:18px; line-height:normal; background:url(img/tabs.gif) repeat-x 0 -72px;}
.tabs ul {margin:0; padding:0; list-style:none;}
.tabs li {float:left; background:url(img/tabs.gif) no-repeat 0 0; margin:0 2px 0 0; padding:0 0 0 10px; line-height:18px;}
.tabs li.current {background:url(img/tabs.gif) no-repeat 0 -18px; margin-right:2px;}
.tabs span {float:left; display:block; background:url(img/tabs.gif) no-repeat right -36px; padding:0px 10px 0 0;}
.tabs .current span {background:url(img/tabs.gif) no-repeat right -54px;}
.tabs a {text-decoration:none; font-family:Arial, Tahoma, Verdana, sans-serif; font-size:11px;}
.tabs a:link, .tabs a:visited, .tabs a:hover {color:black;}

/*
.tabs {width:100%; height:18px; line-height:normal; background:url(img/tabs.gif) repeat-x 0 -72px;}
.tabs ul {margin:0; padding:0; list-style:none;}
.tabs li {float:left; background:url(img/tabs.gif) no-repeat 0 0; margin:0 2px 0 0; padding:0 0 0 10px; line-height:18px;}
.tabs li.current {background:url(img/tabs.gif) no-repeat 0 -18px; margin-right:2px;}
.tabs span {float:left; display:block; background:url(img/tabs.gif) no-repeat right -36px; padding:0px 10px 0 0;}
.tabs .current span {background:url(img/tabs.gif) no-repeat right -54px;}
.tabs a {text-decoration:none; font-family:Verdana, Arial; font-size:10px;}
.tabs a:link, .tabs a:visited, .tabs a:hover {color:black;}
*/
/* Panels */
.panel_wrapper div.panel {display:none;}
.panel_wrapper div.current {display:block; width:100%; height:300px; overflow:visible;}
.panel_wrapper {border:1px solid #b8b8b8; border-top:0px; padding:10px; padding-top:5px; clear:both; background:#eee;}

/* Columns */
.column {float:left;}
.properties {width:100%;}
.properties .column1 {}
.properties .column2 {text-align:left;}

/* Titles */
/* h1, h2, h3, h4 {color:#1C70B1; } */

h3 {font-size:14px;}
.title {font-size:12px; font-weight:bold; color:#1C70B1;}

/* Dialog specific */
#link .panel_wrapper, #link div.current {height:125px;}
#image .panel_wrapper, #image div.current {height:200px;}
#plugintable thead {font-weight:bold; background:#DDD;}
#plugintable, #about #plugintable td {border:1px solid #b8b8b8;}
#plugintable {width:96%; margin-top:10px;}
#pluginscontainer {height:290px; overflow:auto;}
#colorpicker #preview {float:right; width:50px; height:14px;line-height:1px; border:1px solid black; margin-left:5px;}
#colorpicker #colors {float:left; border:1px solid gray; cursor:crosshair;}
#colorpicker #light {border:1px solid

gray; margin-left:5px; float:left;width:15px; height:150px; cursor:crosshair;}
#colorpicker #light div {overflow:hidden;}
#colorpicker #previewblock {float:right; padding-left:10px; height:20px;}
#colorpicker .panel_wrapper div.current {height:175px;}
#colorpicker #namedcolors {width:150px;}
#colorpicker #namedcolors a {display:block; float:left; width:10px; height:10px; margin:1px 1px 0 0; overflow:hidden;}
#colorpicker #colornamecontainer {margin-top:5px;}

#menudiv a { color: #000; text-decoration: none; }
#menudiv a:hover { color: #193B73; text-decoration: underline; }

.button_image_small {
    padding: 0;
    margin: 0;
    border-width: 2px;
    border-style: solid;
    border-color: #eee #a9a9a9 #a9a9a9 #eee;
    background: #E5E5E5;
    height: 19px;
    width: 19px;
    cursor: pointer;
    vertical-align: bottom;
}

.button_image_small img {
    margin-bottom: 1px;
}

input[readonly],
textarea[readonly],
select[readonly]
{
    background-color: #eee;
    cursor: not-allowed;
}
