#ice-page-overlay,
.ice-portlet-overlay,
.ice-portlet-overlay-icon,
.ice-toggle-button,
#ice-tooltip,
#ice-page-panel,
#ice-panel label,
#ice-panel input,
#ice-panel-head,
#ice-panel-menu,
#ice-context-menu,
#ice-context-menu h3,
#ice-context-menu a,
#ice-panel h3,
#ice-panel a,
.ice-cm-divider,
.ice-left,
.ice-right,
.ice-panel-header-table,
#ice-on-of-container
{
	margin: 0;
	padding: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: 11px;
	text-align: left;
	color: #000;
	text-decoration: none;
	border: none;
	font-weight: normal;
    line-height: 17px;
}

#ice-on-of-container
{
    padding-top: 3px;
    text-align: right;
}

.ice-panel-header-table
{
    width: 98%;
}

.ice-panel-header-table th,
.ice-panel-header-table td
{
}

#ice-panel,
#ice-context-menu
{
    -moz-box-shadow: 4px 5px 26px black;
    -webkit-box-shadow: 4px 5px 26px black;
    box-shadow: 4px 5px 26px black;
}

#ice-context-menu,
#ice-panel,
.ice-tb-off
{
    border: 2px solid;
    border-color: #fafafa #a8a8a8 #a8a8a8 #fafafa;
}

.ice-tb-on
{
    border: 2px solid;
    border-color: #a8a8a8 #fafafa #fafafa #a8a8a8;
}

#ice-page-overlay
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000000;
}

#ice-utility-canvas
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999999;
}

.ice-portlet-overlay
{
	position: absolute;
	background-color: #000;
}

.ice-portlet-not-cached-overlay
{
	position: absolute;
	border: 2px dashed #f00;
}

.ice-portlet-overlay-icon
{
	position: absolute;
    width: 20px;
    height: 20px;
}

#ice-tooltip
{
	z-index: 7000000;
	position: absolute;
	top: 0;
	left: 0;
	border: 1px solid #000;
	padding: 1px 4px;
	background-color: #ffffC7;
	display: none;
}

#ice-context-menu
{
    width: 180px;
	z-index: 6000000;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	background-color: #e5e5e5;
}


#ice-context-menu a,
#ice-panel-menu a
{
	display: block;
	color: #000 !important;
	background-position: 6px 4px;
	background-repeat: no-repeat;
    text-decoration: none;
    clear: both;
}

#ice-context-menu a:hover,
#ice-panel-menu a:hover
{
	background-color: #fff;
    text-decoration: none;
}

#ice-context-menu h3,
#ice-panel-menu h3
{
	color: #fff;
    background-color: #2d2a28;
    text-decoration: none;
	font-weight: bold;
    cursor: move;
}

#ice-panel-menu h3
{
    background-repeat: no-repeat;
    background-position: 4px 4px;
    padding-right: 4px !important;
}

#ice-context-menu h3,
#ice-panel-menu h3
{
	padding: 3px 15px 3px 28px;
}

#ice-context-menu a,
#ice-panel-menu a
{
    padding: 4px 15px 4px 28px !important;
}

.ice-menu-item-content-container
{
    overflow: auto;
}

.ice-divider
{
    clear: both;
    margin-top: -1px !important;
    border-bottom: 1px solid #fff !important;
    border-top: 1px solid #C8C8C8 !important;
    height: 1px !important;
    font-size: 1px !important;
}

#ice-panel
{
    width: 180px;
	position: fixed;
    top: 5px;
    right: 5px;
	z-index: 5000000;
	background-color: #e5e5e5;
}

/* This will make the element fixed like in IE 6 (see #ice-panel above). */
*html #ice-panel
{
    position: absolute;
    left: expression( ( 0   ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) )   'px' );
    top: expression( ( 0   ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) )   'px' );
}

#ice-panel #ice-panel-head
{
    padding: 4px;
    cursor: move;
    overflow: hidden;
}

#ice-panel label
{
	margin-right: 5px;
}

#ice-panel input
{
	margin: 3px 2px 3px 3px;
}

.ice-toggle-button
{
    cursor: pointer;
    padding: 2px 13px;
    text-align: center;
    background-color: #e5e5e5;
    margin-right: 2px;
}

.ice-left
{
    float: left;
}

.ice-right
{
    float: right;
}

